@import url("https://the-office-ui.netlify.app/components/components.css");
@import url(./padding.css);

:root {
  --space-0-125: 0.125rem;
  --space-0-25: 0.25rem;
  --space-0-3: 0.3rem;
  --space-0-5: 0.5rem;
  --space-0-6: 0.65rem;
  --space-0-75: 0.75rem;
  --space-0-85: 0.85rem;
  --space-1: 1rem;
  --space-1-25: 1.25rem;
  --space-1-5: 1.5rem;
  --space-1-75: 1.75rem;
  --space-2: 2rem;
  --space-2-25: 2.25rem;
  --space-2-5: 2.5rem;
  --space-2-75: 2.75rem;
  --space-3: 3rem;
  --space-4: 4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.center-align {
  align-items: center;
}

.top-nav {
  display: flex;
  flex-direction: row;
  height: 4rem;

  justify-content: space-between;
  /* background-color: var(--fulvous); */
}

.brand {
  display: flex;
  align-items: center;
}

.brand-logo {
  height: 3rem;
  width: 3rem;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: #3b3b3b;
}

.brand-name-title {
  color: var();
}

.section__home {
  position: relative;
  width: 100%;
  background-color: #ececec;
}

.section__home-hero {
  /* background-color: var(--fulvous-light); */
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 100%;
  object-fit: contain;
}

.hero-title {
  position: absolute;
  font-size: 2.2rem;
  top: 25%;
  left: 20%;
  font-weight: 400;
  color: var(--mint-cream);
}

.hero-title em {
  color: #d97e1c;
}

.categories__text {
  text-align: center;
  color: #3b3b3b;
  border-top: 1px solid rgb(112, 112, 112);
}

.categories__card_containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-3);
}

.categories__card {
  position: relative;
  background: rgb(255, 255, 255);
  /* border: 1px solid rgba(204, 204, 204, 0.66); */
  margin: var(--space-0-125);
  border: 2px solid var(--mint-cream);
  min-width: 14rem;
  /* min-height: 22rem; */
}

.categories__card-img > img {
  width: 100%;
  height: 500px;
  object-fit: fill;
}

.categories__card_containers:nth-child(1) {
  color: var(--mint-cream);
  background-color: var(--fulvous);
}

.categories__card-content-1 {
  color: var(--mint-cream);
  background-color: var(--bright-navy-blue);
}

.categories__card-content-2 {
  color: var(--mint-cream);
  background-color: var(--fulvous);
}
.categories__card-content-3 {
  color: var(--mint-cream);
  background-color: var(--hookers-green);
}

.bottom {
  box-shadow: 0px 15px 10px -15px var(--fulvous-light);
}

.section__promo {
  display: flex;
  flex-direction: row;
}

.section__promo > div {
  flex: 1 1 50%;
}

.promo__content {
  display: flex;
  flex-direction: column;
  margin-left: var(--space-1-5);
  justify-content: center;
  padding-left: 4rem;
}

.content__head {
  font-size: 2rem;
  font-weight: 400;
}

.content__subhead {
  font-size: 1rem;
  font-weight: 200;
}

.promo__images {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-span-2 {
  grid-column: span 2;
}

.promo__image img {
  object-fit: contain;
  width: 100%;
  min-height: 100%;
}

/* css for footer */

#footer {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  background: #63636f;
  color: #dbdbdb;
}

#footer .logo img {
  width: 50px;
  float: left;
}

#footer ul li a {
  color: #dea963;
  text-decoration: none;
}
.foot-col-1 {
  width: 30%;
  display: inline-block;
  margin-left: 20px;
}

.foot-col-2 {
  width: 18%;
  display: inline-block;
}

.foot-col-3 {
  width: 18%;
  display: inline-block;
}

.foot-col-4 {
  width: 30%;
  display: inline-block;
}

@media (max-width: 1085px) {
  .foot-col-1,
  .foot-col-4 {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .foot-col-2,
  .foot-col-3 {
    width: 49%;
  }
}

@media (max-width: 800px) {
  .lh-footer,
  .mid-footer,
  .rh-footer {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}

/* css for product list */

.section__products {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  background-color: #ececec;
}

.list {
  background-color: #ffffff;
}

.section__productList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Product card  */

.product__card {
  max-width: 300px;
  background-color: #ffffff;
  border: 1px solid #cccccca8;
  align-items: flex-start;
  flex: 1 1 250px;
  max-height: 450px;
}

.product__card-img > img {
  max-width: 100%;
  object-fit: contain;
}

.product__card-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product__card-btn > button {
  border-radius: 3px;
}

.product__card-info h3 {
  font-weight: 400;
}

.product__card-info h2 {
  font-weight: 500;
  color: #3b3b3b;
}

.product__card-info p {
  font-size: 0.8rem;
}

/* wishlist page  */

.section__wishlist {
  background-color: #ececec;
}

.section__wishlistItems {
  display: flex;

  gap: 3.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.text-center {
  text-align: center;
}

/* checkout page  */
.section__cart {
  min-height: 80vh;
  background-color: #ececec;
}

.section__cart-empty {
  text-align: center;
  justify-content: center;
  height: 70vh;
  display: flex;
  align-items: center;
}

.section-cart-grid {
  display: grid;
  grid-template-columns: 80% 20%;
}

.cart-section-summary {
  background-color: #ffffff;
  padding: 1rem;
  max-height: 30rem;
  position: sticky;
  top: 5rem;
}

.bold {
  font-weight: 800;
}

.cart-list-items {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.cart-list-items {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

/* cart card */

.cart_product__card {
  display: flex;
  flex-direction: row;
  max-height: 250px;
  max-width: 600px;
  background-color: #ffffff;
  border: 1px solid #cccccca8;
  align-items: flex-start;
  flex: 1 1 250px;
}

.cart_product__card-img > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-content {
  width: auto;
}

.cart_product__card-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn-qty {
  background-color: #ffffff;
  border: 1px solid var(--fulvous-light);
}

.cart_product__card-btn > button {
  border-radius: 3px;
}

.cart_product__card-info h3 {
  font-weight: 400;
}

.cart_product__card-info h2 {
  font-weight: 500;
  color: #3b3b3b;
}

.cart_product__card-info p {
  font-size: 0.8rem;
}

/* css for authentication page  */

.auth-container {
  background-color: #ececec;
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userForm {
  display: flex;
  flex-direction: column;
}

.auth-box input {
  min-width: 100%;
}
.auth-box {
  display: flex;
  min-width: none;
  background-color: #ffffff;
  flex-direction: column;
  /* transform: translate(-2%, -50%); */
  gap: 1rem;
  min-width: 500px;
  border-radius: 25px;
}

.btn {
  cursor: pointer;
}
