/* @import url(https://the-office-ui.netlify.app/components/components.css); */

/* --fulvous: rgb(217, 126, 28);
  --fulvous-light: rgb(217, 126, 28);
  --border-danger: rgb(216, 43, 43);
  --bright-navy-blue: hsla(211, 77%, 48%, 1);
  --hookers-green: hsla(152, 21%, 36%, 1);
  --border-succes: rgb(73, 216, 149);
  --mint-cream: hsla(120, 100%, 98%, 1);
  --black-chocolate: hsla(57, 100%, 4%, 1); 
*/

:root {
  box-sizing: border-box;
}
